* {
    margin: 0;
    padding: 0;
}

span.ACG {
    display: inline-block;
    width: 80%;
    height: 100%;
    overflow: hidden;
    border: 20px solid #000;

}

.ribbon {
    display: inline-block;
    justify-content: center;
    width: 20%;
    height: 100%;
    /*position: absolute;
    right: 0px;
    top: 660px;*/
    margin: auto;
    align-content: center;
    border: 20px solid #000;
}


.ribbon span {
    background: transparent;
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
}

.ribbon a:hover span {
    background: #00ffff;
    margin-top: 0;
}

.ACG img {
    width: 32px;
    height: 32px;
}

.about_bgc {
    width: 100%
}

a.word:link {
    color: #000;
    text-decoration: none;
}

a.word:visited {
    color: #000;
}

a.word:hover {
    color: #000;
}

a.word:active {
    color: #000;
}


div.bilibili {
    /*     position: absolute;
    top: 20px;
    left: 25px; */
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

div.dalv {
    /* position: absolute;
    top: 20px;
    left: 150px; */
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

div.omofun {
    /* position: absolute;
    top: 20px;
    left: 275px; */
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

div.zzzfun {
    /*  position: absolute;
    top: 20px;
    left: 400px; */
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    padding: 5px;
    margin: 0px;
    text-align: center;
}

div.reimu {
    /*  position: absolute;
    top: 20px;
    left: 525px; */
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    padding: 5px;
    margin: 0px;
    text-align: center;
}